/* EVEN LARGER DESKTOP BROWSER
-------------------------------------------------------------- */

@media only screen and (min-width: 1600px) {

	.container { 
		width: 1520px;  
	}

	.projects-section-container {
		width: 1333px;
	}

	.home_box {
		width: 1200px;
	}

	.single_left { 
    	width: 1200px; 
	}

}

/* LARGE DESKTOP BROWSER
-------------------------------------------------------------- */

@media only screen and (min-width: 1200px) and (max-width: 1599px) {

	.container { 
		width: 1120px;  
	}

	.home_box {
		width: 810px;
	}

	.single_left { 
	    width: 810px; 
	}

	.home_wide_box {
		width: 810px;
	}

}

/* TABLET PORTRAIT
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.page-child #main_cont img {
	    width: 100%;
	}

	#bio .img {
		margin: 0;
		margin-bottom: 20px;
	}

	.vertical-img {
	    width: 100%;
	}

	.container { 
		width: 708px;  
	}

	#contact .social-media p {
		margin-left: 26px;
	}

	#contact .social-media {
		width: 100%;
	}

	header .logo-container {
	    width: 350px;
	}

	.menu_container ul li { 
		margin-left: 15px; 
	}

	#slideshow_cont {  
		width: 748px; 
		height: 313px; 
	}

	.slide_box img, 
	.slide_box iframe { 
		width: 748px; 
		height: 313px;  
	}

	.home_box { 
		float: none; 
		width: 450px; 
		margin-right: 14px; 
	}

	.home_box img,
	.home_box iframe { 
		width: 239px; 
		height: 155px; 
	}

	.home_box_last { 
		margin-right: 0; 
	}

	.home_wide_box_img { 
		margin-right: 15px; 
	}

	.home_wide_box_img img,
	.home_wide_box_img iframe { 
		width: 310px; 
		height: 200px; 
	}	

	.home_wide_box_right { 
		width: 100%; 
	}

	.home_wide_box_right .left { 
		width: 100%; 
	}

	.home_wide_box_right a.right { 
		height: 200px; 
	}

	.single_left { 
		width: 450px; 
	}

	.single_inside_content img { 
		max-width: 100%; 
		height: inherit; 
	}

	.single_inside_content iframe { 
		max-width: 100%; 
	}

	#sidebar { 
		width: 165px; 
	}

	.footer_box { 
		width: 172px; 
		margin-left: 20px; 
	}

	.projects-section-container {
  		width: 665px;
	}

	#projects-nav {
		width: 535px;
		height: 300px;
	}

	.projects-button:nth-child(6) {
		margin-left: 55px;
	}

	.projects-button {
		margin-bottom: 50px;
	} 

	.thumb-container.mobile {
	    display: none;
	}

	.home_wide_box {
		width: 450px;
	}

	#commentform input[type=text] {
		width: 408px;
	}

	#commentform textarea {
    	width: 430px;
    }

}

/* SMALL TABLET AND LARGE MOBILE
-------------------------------------------------------------- */

@media only screen and (min-width: 500px) and (max-width: 767px) { 

	.page-child #main_cont img {
	    width: 100%;
	}

	h1 {
		margin-top: 0;
	}

	.vertical-img {
	    width: 100%;
	}

	.container { 
		width: 450px; 
	}

	.desktop {
	    display: none;
	}

	.mobile {
	    display: block;
	}

	#header { 
		position: static; 
		height: auto; 
	}

	.menu_container ul li { 
		margin-left: 20px; 
	}

	.menu_container {
		width: 294px;
		margin-top: 15px;
	}

	.logo-container {
		display: none;
	}

	.logo-mobile {
    	display: block;
    	width: 30px;
    	float: left;
    	margin-bottom: 5px;
	}

	.logo-mobile img {
		width: 100%;
	}

	#about .right {
		width: 100%;
		float: none;
	}

	#contact .social-media {
		width: 100%;
		margin-bottom: 20px;
	}

	/*#contact .social-media p:nth-child(4) {
		margin-left: 98px;
	}*/

	#contact .social-media p {
		margin-top: 10px;
		margin-bottom: 10px;
		float: none;
		margin-left: 0;
	}

	p.resumes {
		text-align: left;
	}

	#header.sticky {
		position: fixed;
		padding-bottom: 0;
	}

	#header.sticky .logo-mobile {
		margin-bottom: 0;
	}

	#header.sticky .menu_container {
		margin-top: 13px;
	}

	.anchor{
	    display: block; 
	    position: relative; 
	    top: -200px; 
	    visibility: hidden;
	}

	.single_inside_content .thumb-container img {
		width: 100%;
	}

	#slideshow_cont {  
		width: 300px; 
		height: 130px; 
	}

	.thumb-container {
		width: 143px;
		height: 143px;
		margin: 1px 2px;
	}

	.thumb-container.mobile {
	    display: inline-block;
	}

	.projects-section-container {
		width: 450px;
	}

	.thumb-overlay p,
	.thumb-overlay div {
		display: none;
	}

	.thumb-overlay h3 {
		width: 120px;
		margin: 0 auto;
		margin-top: 15px;
		line-height: 28px;
		font-size: 20px;
	}

	.thumb-overlay {
		height: 143px;
		padding: 0;
		width: 143px;
	}

	#ui-ux-container .thumb-container {
		margin: 0;
	}

	#projects-nav {
		width: 450px;
	}

	.projects-button {
    	background: url('images/portfolio-icons-mobile.svg') no-repeat;
    	height: 42px;
    	width: 120px;
	}

	.projects-button p {
		float: right;
		width: 65px;
		margin-top: 2px;
		text-align: left;
		font-size: 17px;
	}

	.projects-button p.one_line {
		margin-top: 12px;
	}

	#projects-nav .mobile.placeholder {
		float:left;
		width: 55px;
	}

	#silkscreen { background-position:-126.708px -133.43px; }
	#silkscreen:hover,
	#silkscreen.projects_selected { 
	  	background-position:-621.549px -139.626px; 
	}

	#painting { background-position:-295.122px -136.672px; }
	#painting:hover,
	#painting.projects_selected { 
	  	background-position:-783.952px -139.858px; 
	}

	#drawing { background-position:-293.821px -280.542px; }
	#drawing:hover,
	#drawing.projects_selected { 
	  	background-position:-782.651px -281.727px; 
	}

	#pcomp { background-position:-464.961px -421.608px; }
	#pcomp:hover,
	#pcomp.projects_selected { 
	  	background-position:-932.774px -425.797px; 
	}

	#visual { background-position:-296.335px -421.447px; }
	#visual:hover,
	#visual.projects_selected { 
	  	background-position:-785.165px -425.635px; 
	}

	#ui-ux { background-position:-126.433px -280.312px; }
	#ui-ux:hover,
	#ui-ux.projects_selected { 
	  	background-position:-621.55px -281.495px; 
	}

	#industrial { background-position:-127.413px -421.374px; }
	#industrial:hover,
	#industrial.projects_selected { 
	  	background-position:-622.529px -425.559px; 
	}

	#mobile { background-position:-463.749px -136.833px; }
	#mobile:hover,
	#mobile.projects_selected { 
	  	background-position:-931.563px -140.02px; 
	}

	#craft { background-position:-461.304px -280.589px; }
	#craft:hover,
	#craft.projects_selected { 
	  	background-position:-929.118px -281.772px; 
	}

	.projects-button:first-child,
	.projects-button:nth-child(4),
	.projects-button:nth-child(7) {
    	margin-left: 0px;
	}

	.slide_box img, .slide_box iframe { width: 300px; height: 130px; }

	#main_cont { 
		padding-top: 0px; 
	}

	.header_search_cont { display: none; }

	.header_right { display: none; }	

	.home_box { 
		float: none; 
		width: 100%; 
		margin-right: 0px; 
	}

	.home_box img,

	.home_box iframe { width: 300px; height: 167px; }

	.home_box_last { margin-right: 0; }

	.home_wide_box_img { margin-right: 0px; float: none; margin-bottom: 10px; }

	.home_wide_box_img img,

	.home_wide_box_img iframe { width: 300px; height: 167px; }	

	.home_wide_box {
		width: 450px;
		float: none;
	}

	.home_wide_box_right { 
		width: 450px; 
		float: none; 
		position: relative; 
	}

	.home_wide_box_right .left { 
		width: 450px; 
		float: none;
	}

	.home_wide_box_right a.right { height: 100%; position: absolute; top: 0; right: 0; }	

	.single_left { 
		width: 100%; 
		float: none; 
		margin-bottom: 25px; 
		margin-top: 30px;
	}

	#about img {
		width: 100%;
		height: auto;
	}

	.single_inside_content iframe { 
		width: 300px; 
		height: 167px; 
	}		

	#sidebar { 
		float: none; 
		width: 390px;
		margin-top: 30px;
	}	

	#content.blog {
		float: none;
		margin-top: 30px;
	}

	.footer_box { 
		width: 300px; 
		margin-left: 0px; 
		margin-bottom: 25px; 
	}

	#commentform input[type=text] {
		width: 408px;
	}

	#commentform textarea {
    	width: 430px;
    }

    .logo-tablet {
    	display: block;
    	width: 30px;
    	float: left;
    	margin-bottom: 5px;
    }

    .logo-tablet img {
    	width: 100%;
    }

}

/* MOBILE
-------------------------------------------------------------- */

@media only screen and (max-width: 499px) {

	.page-child #main_cont img {
	    width: 100%;
	}

	#commentform input[type=text] {
		width: 258px;
	}

	.vertical-img {
	    width: 100%;
	}

	h1 {
		line-height: 50px;
		margin-top: 0px;
	}

	#bio img {
		width: 100%;
		height: auto;
	}

	#bio .img {
		margin-bottom: 10px;
	}

	h1.single_title {
	    display: block;
	    margin-top: 30px;
	    margin-bottom: 0;
	}

	.blog h1.single_title {
		margin-bottom: 30px;
	}

	.single_inside_content {
		margin-top: 30px;
	}

	.splash h1 {
		font-size: 50px;
	}

	#splash-center {
		width: 312px;
		margin-left: -156px;
	}

	.splash h2 {
		width: 312px;
	}

	#nav-container {
		margin-top: 180px;
	}

	.desktop {
	    display: none;
	}

	.mobile {
	    display: block;
	}

	#projects-nav {
		width: 450px;
	}

	.projects-button {
    	background: url('images/portfolio-icons-mobile.svg') no-repeat;
    	height: 42px;
    	width: 135px;
	}

	.projects-button p {
		float: right;
		width: 80px;
		margin-top: 2px;
		text-align: left;
		font-size: 17px;
	}

	.projects-button p.one_line {
		margin-top: 12px;
	}

	#projects-nav .mobile.placeholder {
		float:left;
		width: 55px;
	}

	#silkscreen { background-position:-126.708px -133.43px; }
	#silkscreen:hover,
	#silkscreen.projects_selected { 
	  	background-position:-621.549px -139.626px; 
	}

	#painting { background-position:-295.122px -136.672px; }
	#painting:hover,
	#painting.projects_selected { 
	  	background-position:-783.952px -139.858px; 
	}

	#drawing { background-position:-293.821px -280.542px; }
	#drawing:hover,
	#drawing.projects_selected { 
	  	background-position:-782.651px -281.727px; 
	}

	#pcomp { background-position:-464.961px -421.608px; }
	#pcomp:hover,
	#pcomp.projects_selected { 
	  	background-position:-932.774px -425.797px; 
	}

	#visual { background-position:-296.335px -421.447px; }
	#visual:hover,
	#visual.projects_selected { 
	  	background-position:-785.165px -425.635px; 
	}

	#ui-ux { background-position:-126.433px -280.312px; }
	#ui-ux:hover,
	#ui-ux.projects_selected { 
	  	background-position:-621.55px -281.495px; 
	}

	#industrial { background-position:-127.413px -421.374px; }
	#industrial:hover,
	#industrial.projects_selected { 
	  	background-position:-622.529px -425.559px; 
	}

	#mobile { background-position:-463.749px -136.833px; }
	#mobile:hover,
	#mobile.projects_selected { 
	  	background-position:-931.563px -140.02px; 
	}

	#craft { background-position:-461.304px -280.589px; }
	#craft:hover,
	#craft.projects_selected { 
	  	background-position:-929.118px -281.772px; 
	}

	.projects-button:nth-child(odd) {
    	margin-left: 0px;
	}

	#projects-nav {
		width: 300px;
	}

	.thumb-container.mobile {
	    display: inline-block;
	}

	#projects-nav img.mobile.placeholder {
		float:left;
		width: auto;
	}

	.projects-button {
    	background: url('images/portfolio-icons-mobile.svg') no-repeat;
	}	

	img#gear1 { margin-left: 10px; margin-top: 115px; }
	img#gear2 { margin-left: 80px; margin-top: 43px; }
	img#gear3 { margin-left: 120px; margin-top: 195px; }
	img#gear4 { margin-left: 133px; margin-top: 8px; }
	img#gear5 { margin-left: 132px; margin-top: 107px; }
	img#gear6 { margin-left: 162px; margin-top: 37px; }
	img#gear7 { margin-left: 203px; margin-top: 175px; }
	img#gear8 { margin-left: 220px; margin-top: 108px; }

	.gear-container {
		width: 300px;
		height: 300px;
	}

	.container { 
		width: 300px; 
	}

	#header { 
		position: static; 
		height: auto; 
		font-size: 30px;
	}

	#header.sticky {
		position: fixed;
		padding-bottom: 0;
	}

	.logo-container {
		display: none;
	}

	.logo-mobile {
    	display: block;
    	width: 30px;
    	float: left;
    	margin-bottom: 5px;
    	margin-top: -10px;
	}

	#header.sticky .logo-mobile {
		margin-bottom: 0;
		width: 20px;
	}

	#header.sticky {
		font-size: 25px;
	}

	.logo-mobile img {
		width: 100%;
	}

	#about .right {
		width: 100%;
		float: none;
	}

	.menu-mobile {
		display: block;
		float: right;
		margin-top: 10px;
		width: 300px;
		text-align: right;
	}

	.js .nav-collapse-0 {
		margin-top: 15px;
		text-align: left;
	}

	.nav-collapse li {
		border-top: 1px solid #ddd;
		font-size: 20px;
		line-height: 50px;
		font-family: 'GillSansStd', sans-serif;
	}

	.nav-collapse li:first-child {
		border-top: 0;
	}

	#header.sticky .menu-mobile {
		margin-top: 10px;
	}

	.menu-mobile a {
		color: #5C3E6C;
		margin-left: 15px;
	}

	.menu-mobile a:first-child {
		margin-left: 0;
	}

	.menu-mobile a:hover {
		color: #BA6D82;
	}

	.menu_container {
		display: none;
	}

	#contact .social-media p {
		float: none;
		margin-left: 0;
	}

	#contact .social-media {
		width: auto;
	}

	p.resumes {
		text-align: left;
	}

	.slideout-menu {
  		display: block;
	}

	.slideout-menu {
		position: fixed;
		top: 0;
		left: -150px;
		width: 150px;
		height: 100%;
		background: #F7F5E7;
		z-index: 100;
	}

	.slideout-menu h3 {
		position: relative;
		padding: 12px 10px;
		font-size: 1.5em;
		font-weight: 400;
	}

	.slideout-menu .slideout-menu-toggle {
		position: absolute;
		top: 0;
		right: 10px;
		display: inline-block;
		padding: 6px 0px 5px;
		font-weight: normal;
		line-height: 1;
		text-decoration: none;
		vertical-align: top;
		font-size: 30px;
	}

	.slideout-menu ul {
	  list-style: none;
	  font-weight: 300;
	  padding-left: 10px;
	  margin-top: 20px;
	  margin-bottom: 0;
	}

	.slideout-menu ul li {
	  border: 0;
	  font-size: 20px;
	}

	.slideout-menu ul li a {
	  position: relative;
	  display: block;
	  padding: 10px;
	  text-decoration: none;
	  padding-left: 20px;
	}

	.slideout-menu ul li a i {
	  position: absolute;
	  top: 15px;
	  right: 10px;
	  opacity: .5;
	}

	.slideout-menu-toggle .fa-times {
		font-size: 25px;
	}

	#search-icon-mobile {
		top: 8px;
		right: 28px;
	}

	.menu-mobile .fa-arrow-left,
	.menu-mobile .fa-times {
		margin-top: -10px;
	}

	.menu_container ul li { 
		margin-left: 15px; 
	}

	#slideshow_cont {  
		width: 300px; 
		height: 130px; 
	}

	.slide_box img, 
	.slide_box iframe { 
		width: 300px; 
		height: 130px; 
	}

	#main_cont { 
		padding-top: 0px; 
	}

	.anchor{
	    display: block; 
	    position: relative; 
	    top: -240px; 
	    visibility: hidden;
	}

	.thumb-container {
		width: 143px;
		height: 143px;
		margin: 1px 2px;
	}

	.projects-section-container {
		width: 300px;
	}

	.thumb-overlay p,
	.thumb-overlay div {
		display: none;
	}

	.thumb-overlay h3 {
		width: 120px;
		margin: 0 auto;
		margin-top: 15px;
		line-height: 28px;
		font-size: 20px;
	}

	.thumb-overlay {
		height: 143px;
		padding: 0;
		width: 143px;
	}

	#ui-ux-container .thumb-container {
		margin: 0;
	}

	.copyright_text {
		padding: 20px 40px 0 40px;
	}

	.header_search_cont { display: none; }

	.header_right { display: none; }	

	.home_box { 
		float: none; 
		width: 100%; 
		margin-right: 0px; 
	}

	.home_box img,

	.home_box iframe { width: 300px; height: 167px; }

	.home_box_last { margin-right: 0; }

	.home_wide_box {
		width: 300px;
		float: none;
	}

	.home_wide_box_img { margin-right: 0px; float: none; margin-bottom: 10px; }

	.home_wide_box_img img,

	.home_wide_box_img iframe { width: 300px; height: 167px; }	

	.home_wide_box_right { width: 300px; float: none; position: relative; }

	.home_wide_box_right .left { 
		width: 300px; 
		float: none; 
	}

	.home_wide_box_right a.right { height: 100%; position: absolute; top: 0; right: 0; }	

	.single_left { 
		width: 300px; 
		float: none; 
		margin-bottom: 25px; 
		margin-top: 30px;
	}

	.home_box:first-child {
	    border-top: 0;
	    padding-top: 0;
	}

	.home_box:nth-child(2) {
	    border-top: 1px #ddd solid;
	    padding-top: 20px;
	}

	.single_inside_content img { 
		width: 300px; 
	}

	.single_inside_content iframe { width: 300px; height: 167px; }

	.about-nav p {
		margin-left: 30px;
	}

	.about-nav {
		width: 100%;
	}

	footer .fa-lg {
		font-size: 18px;
	}

	#commentform textarea { 
		max-width: 280px; 
	}		

	#sidebar { 
		width: 240px; 
		float: none; 
	}	

	.footer_box { 
		width: 300px; 
		margin-left: 0px; 
		margin-bottom: 25px; 
	}

	#content.blog {
		float: none;
		margin-top: 30px;
	}

}

/* FOR SPLASH PAGE ONLY
-------------------------------------------------------------- */

@media only screen and (max-height: 720px) {
	#splash-center {
	    margin-top: 50px;
	    top: 0;
	}

	#splash-left {
	    width: 140px;
	    margin-left: -340px;
	    left: 50%;
	    height: 440px;
	    margin-top: 160px;
	    position: absolute;
	    top: 0;
	}

	#splash-right {
	    width: 140px;
	    margin-left: 200px;
	    left: 50%;
	    height: 440px;
	    margin-top: 160px;
	    position: absolute;
	    top: 0;
	}
}

@media only screen and (max-width: 768px) {

	#splash-center {
		height: 670px;
		margin-top: -335px;
	}

	.robot-sprite {
		background: none;
		width: auto;
		height: 100%;
		float: left;
	}

	.robot-sprite p,
	#splash-shop p,
	#splash-about p {
		padding: 0;
	}

	.robot-sprite p {
		margin-right: 20px;
	}

	#splash-about p {
		margin-right: 0;
	}

	#splash-left,
	#splash-right {
		height: 30px;
		margin-right: 0;
		right: 0;
		width: 180px;
		left: 0;
		margin-top: 0px;
	}

	#splash-left {
		margin-left: 0;
	}

	#splash-right {
		margin-left: 180px;
		width: 140px;
	}

	#nav-container {
		width: 302px;
		position: absolute;
		margin-left: -151px;
		left: 50%;
		height: 480px;
		top: 50%;
	}

	.splash h2 {
		margin-top: 100px;
	}
}

@media only screen and (max-width: 768px) and (max-height: 720px) {

	#splash-center {
	    margin-top: 50px;
	    top: 0;
	}

	#splash-right {
		width: 140px;
	}

}

@media only screen and (min-width: 500px) and (max-width: 767px) and (max-height:720px) { 

	#nav-container {
		top: 625px;
		margin-top: 0px;
		height: 30px;
	}

}

@media only screen and (max-width: 499px) and (min-height:721px) {
	#nav-container {
		height: 30px;
	}
}

@media only screen and (max-width: 499px) and (max-height:720px) {

	#nav-container {
		margin-top: 0px;
		top: 575px;
		height: 30px;
	}

}